nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 81, 255); 
    padding: 10px 0;
}

.logo, .login {
    width: 25%;              
    text-align: center;      
    font-size: 20px;
    color: rgb(255, 0, 0);
}

.nav-links {
    width: 50%;              
    display: flex;
    justify-content: center;  
    gap: 30px;                
    list-style: none;         
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 18px;
}