* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(255, 247, 0);
  padding: 15px;
}
header h1{
    text-align: center;
    color: white;
    
}

section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 33.33%;
}

.section1 {
  background-color: rgb(255, 0, 0);
 
}

.section2 {
  background-color: rgb(144, 238, 144);
  
}

.section3 {
  background-color: rgb(255, 255, 255);
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction:column;
    height: 100%;


}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (max-width: 1000px) {
  
  header{
    background-color: aqua;
  }
  
  .section1 {
  background-color: rgb(255, 0, 0);
 
}

.section2 {
  background-color: rgb(246, 255, 0);
  
}

.section3 {
  background-color: rgb(255, 255, 255);
}
}


@media screen and (max-width: 540px) {
  
  header{
    background-color: rgb(255, 255, 255);
  }
  
  .section1 {
  background-color: rgb(255, 0, 0);
 
}

.section2 {
  background-color: rgb(246, 255, 0);
  
}

.section3 {
  background-color: rgb(0, 0, 0);
}
header h1{
    color: black;
}

.section3 {
  color: white;
}
} 



