* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: x-large;
}

header {
  background-color: #215391;
}


.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  width: 300px;
  height: 80px;
}

header h1 {
  color: white;
  text-align: center;
  flex: 1;
  margin-right: 35vh;
}


nav {
  background-color:#000000;
  color: white;
  width: 100%;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none;
  height: 8vh;
  gap: 80px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  background-color: rgb(120, 126, 126);
  flex: 1;
  position: relative;
}

footer {
  background-color: black;
  height: 8vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer {
  color: white;
  gap: 10vh;
}

main div img {
    position: absolute;
    right: 35%;
    bottom: 0;
    height: 40%;
    
    width: 500px;

}


.menu-icon {
  display: block;
  font-size: 2em;
  cursor: pointer;
  padding: 1vh 2vw;
}

#menu-toggle {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 80px;
}


#menu-toggle:checked + .menu-icon + .menu {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.menu li {
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid #333;
}

body {
  overflow: hidden;
}

a:focus,
a:active {
  outline: none;
  border: none;
}

